RewriteEngine On
Options -Indexes

ErrorDocument 404 /404.php


DirectoryIndex index.php


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php[?\s] [NC]
RewriteRule ^index\.php$ /home [R=301,L]

RewriteRule ^home/?$ index.php [L]
RewriteRule ^about?$ about.php [L]
RewriteRule ^api/.*$ 404.php [L]
RewriteRule ^includes/.*$ 404.php [L]

RewriteRule . 404.php [L]